// Body
$body-bg: #f5f9fc;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic', sans-serif;
$headings-font-family:'Noto Kufi Arabic', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary:#5718c4;
$btn-border-radius:0;
$card-border-width:0;
$card-border-radius:0;
$warning:#f28406;
$link-color:#5718c4;
$input-border-radius:0;
